
.nav_button {
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 40px;
    margin-left: 2px;
}

.font-white {
    color: white;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.71;
    letter-spacing: normal;
    margin-left: 10px;
}

.div_column80 {
    min-width: 8%;
    width: 12px;
}

.div_column260 {
    min-width: 18%;
    width: 25%;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .center_ico_white {
    color: white;
    text-decoration: none;
}