<div class="navbar">

    <div class="nav_button">
        <span class="font-white pointer" (click)="changeComponent(0)">Inicio</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" (click)="changeComponent(1)">Estudiantes</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" (click)="changeComponent(2)">Cursos</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" (click)="changeComponent(3)">Clases</span>
    </div>

</div>