<div class="navbar">


 <!--   <h3>{{session$ | async | json}}</h3>  -->
    <div class="nav_button">
        <span class="font-white pointer" (click)="changeComponent(0)">Inicio</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" routerLink="/students">Estudiantes</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" routerLink="/courses">Cursos</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" routerLink="/commission">Comisiones</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" routerLink="/groups">Listado Cursos</span>
    </div>

    <div class="nav_button">
        <span class="font-white pointer" routerLink="/login">Login</span>
    </div>


</div>