
    <div class="box_logo">

        <div class="boxImageCenter">
          <a href="*" class="material-symbols-outlined center_ico_white">menu</a>
        </div>

        <div class="boxImageCenter">
            <img class="img" src="assets/image/angular.png" alt="logo">
        </div>

    </div>

    <div class="box_toolbar_center">

    </div>

    <div class="box_toolbar_right">

        <div class="boxImageCenter">
            <a href="*" class="material-symbols-outlined center_ico_white">Settings</a>
        </div>

        <div class="boxImageCenter">
            <a href="*" class="material-symbols-outlined center_ico_white">person</a>
        </div>

    </div>



