<div class="grid-container">


    <span class="font-white pointer">{{componentResponse}}</span>
    
    <app-toolbar class="grid-header"></app-toolbar>

    <app-navbar class="grid-menu" (messageEvent)="componentResponse = receiveComponent($event)"></app-navbar>


    <div class="grid-students">

            

        <router-outlet></router-outlet>

        <!--

        <app-student *ngIf="componentResponse==1" (addStudentInGrid)="addGrid($event)"></app-student>

        <app-course *ngIf="componentResponse==2" (addStudentInGrid)="addGrid($event)"></app-course>
        <app-table-group *ngIf="componentResponse==2"></app-table-group>
        
        <app-class-course *ngIf="componentResponse==3" (addStudentInGrid)="addGrid($event)"></app-class-course>
        
        -->

    </div>



</div>
